:root {
  --background: rgb(241, 242, 244);
  --background-secondary: #ffffff;
  --foreground: #171717;
  --hover: #a3a3a3;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.dragging * {
  cursor: grabbing;
  user-select: none;
}
