.main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 2rem;
}

.navigation {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: normal;
}

.button {
  padding: 0.5rem 4rem;
  background: #131313;
  height: 2.75rem;
  line-height: 2.75rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1.4rem;

  &:hover {
    background: #434343;
    color: white;
  }
}
