.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--background-secondary);
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.07),
    0px 6px 16px -8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .main {
    padding: 1.5rem;
    margin: 0 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 2rem;
}

.title {
  text-align: center;
  margin: 1rem 0 3rem;
}

@media (max-width: 768px) {
  .title {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
  }
}

.loading {
  font-size: 1.4rem;
}

.error {
  color: red;
}

.intro {
  margin: 0 0 3rem;
  opacity: 0.5;
  line-height: 1.6;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .intro {
    font-size: 1.2rem;
    margin: 0 0 2rem;
  }
}

.rangeContainer {
  margin: 2rem 0;
  padding: 0;
  width: 100%;
  max-width: 40rem;
}

.rangeResult {
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: 1.3rem;
  text-align: left;
}
